<!doctype html>
<html>
  <%- include('partials/head.ejs') %>
  <body class="formBody">
    <div class="w-fill max-w-xs">
      <form method="post" action="/login" class="fieldForm">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
          class="textField"
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
          class="textField"
        />
        <div class="flex items-center justify-center w-full">
          <button class="btn text-2xl" type="submit" value="Login">
            login
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
