@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;

        &:hover {
            @apply bg-blue-700;
        }
    }

    a {
        @apply bg-blue-500 text-white px-2 py-0.5 font-bold rounded;
    }

    body {
        @apply bg-gray-100 min-h-screen
    }

    .formBody {
        @apply flex items-center justify-center h-screen
    }

    .textField {
        @apply shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight;

        &:focus {
            @apply outline-none shadow-lg
        }
    }

    .fieldForm {
        @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 space-y-4
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .fade-out {
        @apply absolute top-0 right-0 m-4;
        animation: fadeOut 3s ease-out 1;
        animation-fill-mode: forwards;
    }
}
